.live-data {
  &__tagline {
    position: relative;
    left: 15%;
    width: fit-content;
    p {
      color: white;
      font-size: 25px;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: type 3s steps(60, end);
      &::after {
        @include underline;
      }
    }
  }
  .ant-form-horizontal {
    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
  }
  .ant-form-item {
    margin-right: 20px;
  }
}
