.live-data {
  &__tagline {
    position: relative;
    left: 15%;
    width: fit-content;
    p {
      color: white;
      font-size: 25px;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: type 3s steps(60, end);
      &::after {
        @include underline;
      }
    }
  }
  .ant-form-horizontal {
    position: absolute;
    left: 20%;
    top: 20%;
    display: flex;
  }
  .ant-form-item {
    margin-right: 20px;
  }
  &__option,
  &__fromCurrency,
  &__toCurrency,
  &__timeInterval {
    color: black;
    font-size: 15px;
    padding: 10px 12px;
    border: 1px solid black;
  }
  .ant-select-selection__placeholder {
    color: indigo;
    font-size: 15px;
  }
  .ant-select-selection-selected-value {
    color: indigo;
    font-size: 15px;
  }
  .ant-select-arrow .ant-select-arrow-icon {
    color: indigo;
  }
}
